body {
  border: none;
}

.main-img {
  width: 100%;
height: 100%;
position: absolute;
top: 0;
border-radius: 7px;
}
.main-cover {
  width: 400px;
  padding: 20px 0px 35px 40px;
  position: relative;
}
.main-cover h1 {
  width: 200px;
  margin-left: 200px;
  display: flex;
  color: red;
      margin-bottom: 0;

}
.main-cover h3 {
  width: 200px;
  margin-left: 200px;
  display: flex;
  text-decoration: none;
      margin-top: 0;
      margin-bottom: 0;
      color: white;

}
.main-cover h5 {
  width: 200px;
  margin-left: 200px;
  display: flex;
  text-decoration: none;
  margin-top: 0;
  color: white;
}
.play-all {
  display: block;
  position: absolute;
  top: 150px;
  left: 235px;
  width: 100px;
  height: 20px;
      border: 2px solid red;
    padding: 25px;
    padding-bottom: 36px;
   
}
.play-all button {
  background-color: red;
  padding: 7px;
  text-align: center;
  width: 110px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.play-video {
  position: absolute;
  top: 150px;
  left: 400px;
  background-color: transparent;
  border: 1px solid white;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;

}
.play-audio {
  position: absolute;
  top: 250px;
  left: 235px;
}
audio {
  width: 500px;
}
.lyrics {
  position: absolute;
  top: 350px;
  left: 40px;
  width: 800px;

}
.lyrics h2 {
  color: rgb(231, 231,160);
}
.lyrics p {
  color: white;
  font-size: 14px;
}

/* second part css */
.nav-links {
  border: none;
}