body {
background-image: url("../images/slide2.jpg");
background-repeat: no-repeat;
background-size: cover;

}

.bgimg{

 

}
.nav-bar {
  margin-left: 100px;

width: 200px;
margin-top: 20px;
color: #fff;
}
.nav-brand {
  margin-left: 35px;

  
 
}
.banner-title {
  margin-top: 80px;
}
.nav-links {
      margin-top: 5px;
  margin-top: 0px;
}
h2 {
     margin-top: 5px;
margin-bottom: 0px;
}
.nav-links ul {
  margin-top: 0px;
  margin-bottom: 0px;

}
.nav-links ul a li {
  color: rgb(174, 174, 174);
}


.btn {
  margin-left: 40px;
  border: none;
 font-weight: bold;
 background-color: red;
     margin-bottom: 0px;
  
    
   
}
.fa-fa-bars {

}
.btn a {
  color: black;
  

}
a {
  text-decoration: none;
font-size: 14px;
}

.wordCarousel {
  margin-left: 100px;
  font-size: 80px;
  color: white;
}
span {
  color: red;
}


.flip4 {
  display: none;
}
.detail-btn{
  margin-left: 100px;
  border: none;
  background-color: red;
  font-weight: 700;

}
.footer {
  margin-top: 120px;
  margin-bottom: 30px;
}
.footer ul {
margin-left: 300px;

 
}


.footer ul a li  {
  color: red;
display: inline;
margin: 50px;

}

@media screen and (max-width: 1100px) {
 
  .footer ul {
    margin-left: 0px;
   
  }
  .footer ul a li {
  
    margin: 10px;
  }
}