div{
  width: 305px;
  height: 45px;
}

.div1 {
  background-color: black;
  background-color: rgba(255,0,0,0.3);
}
.div2 {
  background-color: black;
  background-color: rgba(0,255,0,0.3);
}
.div3 {
  background-color: black;
  background-color: rgba(0,0,255,0.3);
}
.div4 {
  background-color: black;
  background-color: hsl(120,60%,70%);
}
.div5 {
  background-color: black;
  background-color: hsl(290,100%,50%);
}
.div6 {
  background-color: black;
  background-color: hsl(290,60%,70%);
}
.div7 {
  background-color: black;
  background-color: hsla(120,60%,70%,0.3);
}
.div8 {
  background-color: black;
  background-color: hsla(290,100%,50%,0.3);
}
.div9 {
  background-color: black;
  background-color: hsla(290,60%,70%,0.3);
}
